// Styles for all the forms.

@label-width: 200px;
@field-width: 300px;

form {
    padding: 0;
    margin: 2em 3em;
}

fieldset {
    border: none;
    border-top: 2px solid @highlight-color;

    legend {
        font-weight: bold;
    }
}

label {
    display: block;
    float: left;
    width: @label-width;
}

input[type="text"], textarea, select {
    border: 2px solid @highlight-color;
    background: lighten(@background-color, 5%);
    color: @text-color;
    padding: 2px;
    box-shadow: @default-box-shadow;
    border-radius: 3px;
}

input[type="text"] {
    width: @field-width;
}

textarea {
    width: @field-width;
}

select {
    width: (@field-width / 2);
}
select+select {
    margin-left: 2px;
}

.required label:after {
    content: " *";
    color: @highlight-color;
    font-weight: bold;
}

p.submit {
    text-align: center;
    button {
        font-family: @base-font
    }
}


// Hide the actual file input field
.file-input {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}

// Style our custom file-selection button
.upload-button {
    padding: 0.7em 2em;
    border-radius: @default-border-radius;
    box-shadow: @default-box-shadow;
    border: none;
    background-color: #80bd77;
    font-size: 16px;
    font-family: @base-font;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: white;
}

// Some styles for the list of selected files
.upload-filelist {
    font-size: smaller;
    margin: 0;
    list-style-type: square;
}