// Styles for all the forms.

@label-width: 220px;
@field-width: 300px;
@error-icon-size: 48px;
@error-color: lighten(red, 10%);

// Form, fieldset and labels

form {
    padding: 0;
    margin: 2em 3em;
}

fieldset {
    border: none;
    border-top: 2px solid @highlight-color;

    legend {
        font-weight: bold;
    }

    // Ensure the floated labels don't mess things up
    // when they are too long.
    p {
        clear: both;
    }
}

label {
    display: block;
    float: left;
    width: (@label-width - 10px);
    margin-right: 10px;
}
// no floating of radio-button label
label.radio {
    width: auto;
    display: inline;
    float: none;
}
// "*" after required field labels
.required label:after {
    content: " *";
    color: @highlight-color;
    font-weight: bold;
}
// No "*" after radio-button labels
.required label.radio:after {
    content: "";
}

// Invalid form fields

.error-summary {
    background: url("@{img-path}/dialog-error.png") no-repeat;
    height: (@error-icon-size - 10px);
    padding-top: 10px;
    padding-left: (@error-icon-size + 20px);
    font-weight: bold;
    color: lighten(@error-color, 10%);
    margin-bottom: 2em;
}
.invalid label {
    color: @error-color;
    border-bottom: 1px dashed @error-color;
}
// don't apply for radio-labels
.invalid label.radio {
    color: inherit;
    border-bottom: none;
}

// Form fields

input[type="text"], textarea, select {
    border: 2px solid @highlight-color;
    background: lighten(@background-color, 5%);
    color: @text-color;
    padding: 2px;
    .box-shadow(@default-box-shadow);
    .border-radius(3px);
}

input[type="text"] {
    width: @field-width;
}

textarea {
    width: @field-width;
}

select {
    width: (@field-width / 2);
}
select+select {
    margin-left: 2px;
}


// Submit button

p.submit {
    text-align: center;
    button {
        font-family: @base-font
    }
}

// File upload

// Hide the actual file input field
.file-input {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}

// Style our custom file-selection button
.upload-button {
    padding: 0.7em 2em;
    .border-radius(@default-border-radius);
    .box-shadow(@default-box-shadow);
    border: none;
    background-color: #80bd77;
    font-size: 16px;
    font-family: @base-font;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: white;
}

// Some styles for the list of selected files
.upload-filelist {
    font-size: smaller;
    margin: 0;
    list-style-type: square;
}