.highlight(@color) {
    text-shadow:
        1px 1px 1px @color,
        1px -1px 1px @color,
        -1px 1px 1px @color,
        -1px -1px 1px @color;
}

#ordering-presentation {
    position: relative;

    h2 {
        position: absolute;
        margin: 0;
        color: rgba(90%,90%,90%,1);
        letter-spacing: 1px;
        top: 20px;
        left: 33px;
        z-index: 500;
        .highlight(rgba(0%,0%,0%,1));
    }

    .ask-price {
        margin: 0;
        text-align: right;
        float: right;
        position: absolute;
        bottom: 25px;
        right: 25px;
        z-index: 500;
    }
}


#slides {
    display: none;
    .slide {
        height: 300px;
        .border-radius(2px);
        p {
            position: relative;
            margin: 4em 1em 1em 2em;
            max-width: 400px;
            min-height: 100px;
            background: white;
            padding: 1em 0.5em;
            opacity: 0.8;
            .border-radius(@default-border-radius);
            .box-shadow(@default-box-shadow);
            .nr {
                float: left;
                width: 100px;
                position: relative;
                top: -70px;
                text-align: center;
                font-size: 8em;
                color: @highlight-color;
                opacity: 0.8;
            }
            strong {
                display: block;
            }
            .slidesjs-next {
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-family: "Arial black", Arial, sans-serif;
                border: 2px solid @highlight-color;
                .border-radius(20px);
                width: 25px;
                text-indent: 7px;
                font-weight: bold;
                background: @highlight-color;
                text-decoration: none;
                color: white;
            }
            .slidesjs-next:hover {
                background: white;
                color: @highlight-color;
                text-decoration: none;
            }
        }
    }

    .slide-1 {
        background: url("@{img-path}flickr-old-books.jpg") ;
    }
    .slide-2 {
        background: url("@{img-path}flickr-multi-measure.jpg") ;
    }
    .slide-3 {
        background: url("@{img-path}flickr-agreement.jpg");
    }
    .slide-4 {
        background: url("@{img-path}flickr-grading.jpg") ;
    }
    .slide-5 {
        background: url("@{img-path}flickr-document.jpg") ;
    }

}

article {
    .col-1 {
        width: 65%;
        float: left;
    }

    .col-2 {
        width: 34%;
        float: right;
    }
}


#client-quotes {

    h2 {
        // to align with quote-bubble content (not border).
        margin-left: 20px;
    }

    .client-quote {
        font-size: 0.8em;
        border: 1px solid white;
        .border-radius(@default-border-radius);
        .box-shadow(@default-box-shadow);
        padding: 0.5em 2em;
        margin-bottom: 2em;
        line-height: 1.7;
        .gradient(lighten(@background-color, 4%), darken(@background-color, 2%));
    }

    blockquote {
        margin: 0;
    }
    blockquote:before {
        content: " ";
        display: block;
        float: left;
        width: 45px;
        height: 37px;
        padding-top: 7px;
        padding-right: 10px;
        background: url("@{img-path}quote-blue.png") no-repeat 0 7px;
    }

    .client {
        margin: 0;
        text-align: right;
        font-style: italic;
    }
    .client:before {
        content: "... ";
    }
}


#services {
    margin: 0;
    padding: 0;

    li {
        .box-sizing(border-box);
        width: 50%;
        float: left;
        list-style: none;
        padding-right: 1em;
        margin-bottom: 2em;

        h3 {
            background-size: 100%;
            background-repeat: no-repeat;
            padding-top: 75px;
            margin: 0 0 10px 0;
            font-weight: normal;
            a {
                text-decoration: none;
                color: @highlight-color;
                .text-shadow();
                padding-top: 0.4em;
                background-color: @background-color;
                display: block;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }

    li:nth-child(odd) {
        clear: both;
    }

    li.written-translation h3 {
        background-position: 0 -50px;
        background-image: url("@{img-path}flickr-writing.jpg");
    }
    li.oral-translation h3 {
        background-position: 0 -25px;
        background-image: url("@{img-path}flickr-mouth.jpg");
    }
    li.proofreading h3 {
        background-position: 0 -25px;
        background-image: url("@{img-path}flickr-grading2.jpg");
    }
    li.notarisation h3 {
        background-image: url("@{img-path}flickr-notary.jpg");
    }
    li.apostilling h3 {
        background-image: url("@{img-path}flickr-apostille.jpg");
    }
    li.legal-translation h3 {
        background-image: url("@{img-path}flickr-document.jpg");
    }
    li.technical-translation h3 {
        background-position: 0 -20px;
        background-image: url("@{img-path}flickr-gears.jpg");
    }
    li.web-translation h3 {
        background-position: 0 -20px;
        background-image: url("@{img-path}flickr-social.jpg");
    }
    li.manual-translation h3 {
        background-image: url("@{img-path}flickr-manual.jpg");
    }
    li.movie-translation h3 {
        background-image: url("@{img-path}flickr-cinema.jpg");
    }

}
