// Fonts
@base-font: Georgia, serif;

// Colors
@text-color: black;
@highlight-color: orange;
@link-color: darken(orange, 10%);
@background-color: #ededed;

// Boxes
@default-border-radius: 10px;
@default-box-shadow: 2px 2px 5px 0px rgba(55, 55, 55, 0.75);

// Paths
@img-path: "../images/";

html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: @base-font;

    background-image: url("@{img-path}bg.gif");
    background-repeat: repeat-x;
    background-color: @background-color;
    color: @text-color;
}

.clear {
    clear: both;
}

#container {
    max-width: 911px;
    margin: 0 auto;
}

article {
    clear: both;
    line-height: 1.5;

    a {
        color: @link-color;
    }
    a:hover {
        text-decoration: none;
    }

    h2 {
        color: @highlight-color;
        text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.3);
    }

    .col-1 {
        width: 45%;
        float: left;
    }

    .col-2 {
        width: 45%;
        float: right;
    }
}

@import "header";
@import "front-page";
