config.php

# Gettext template file
locale/messages.pot

# Compiled Gettext resources
locale/en_US/LC_MESSAGES/*.mo
locale/ru_RU/LC_MESSAGES/*.mo

# NodeJS modules
node_modules

# Compiled LESS stylesheets
css/styles.min.css
