// Fonts
@base-font: Georgia, serif;

// Colors
@text-color: black;
@highlight-color: orange;
@link-color: darken(orange, 10%);
@background-color: #ededed;

// Boxes
@default-border-radius: 10px;
@default-box-shadow: 2px 2px 5px 0px rgba(55, 55, 55, 0.75);



html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: @base-font;

    background-image: url("images/bg.gif");
    background-repeat: repeat-x;
    background-color: @background-color;
    color: @text-color;
}

.clear {
    clear: both;
}

#container {
    max-width: 911px;
    margin: 0 auto;
}

header {
    display: block;

    #language-menu {
        float: right;
        li {
            float: left;
            list-style: none;
            margin-left: 0.5em;
        }
    }

    #logo {
        margin: 0;
        height: 120px;
        padding: 22px 0;

        a {
            display: block;
            height: 120px;
            background: url("images/logo.png") no-repeat;
            text-indent: -1000em;
        }
    }


    #top-menu {
        margin: 0;
        margin-bottom: 3em;
        padding: 0;
        height: 50px;

        li {
            float: left;
            list-style-type: none;
            padding-right: 2.5em;
            line-height: 50px;
            height: 50px;
        }

        a {
            color: white;
            font-weight: bold;
            text-decoration: none;
            display: block;
        }
        a:hover {
            color: @highlight-color;
        }
    }

}

#ordering-presentation {
    position: relative;

    h2 {
        position: absolute;
        margin: 0;
        color: @highlight-color;
        top: 20px;
        left: 33px;
        z-index: 500;
        text-shadow: 1px 1px 2px rgba(55, 55, 55, 1);
    }

    .ask-price {
        text-align: right;
        margin: 0;
        float: right;
        position: absolute;
        bottom: 25px;
        right: 25px;
        z-index: 500;

        a {
            display: inline-block;
            background: @highlight-color;
            border: 2px solid @highlight-color;
            border-radius: 20px;
            box-shadow: @default-box-shadow;
            padding: 0 2em;
            color: white;
            font-size: 20px;
            font-weight: bold;
            line-height: 40px;
            text-decoration: none;
        }
        a:hover {
            background: white;
            opacity: 0.8;
            color: @highlight-color;
            text-decoration: none;
        }
    }
}

#slides {
    display: none;
    .slide {
        height: 300px;
        p {
            position: relative;
            margin: 4em 1em 1em 2em;
            max-width: 400px;
            min-height: 100px;
            background: white;
            padding: 1em 0.5em;
            opacity: 0.8;
            border-radius: @default-border-radius;
            box-shadow: @default-border-radius;
            .nr {
                float: left;
                width: 100px;
                position: relative;
                top: -70px;
                text-align: center;
                font-size: 8em;
                color: @highlight-color;
                opacity: 0.8;
            }
            strong {
                display: block;
            }
            .slidesjs-next {
                position: absolute;
                right: 10px;
                bottom: 10px;
                font-family: "Arial black", Arial, sans-serif;
                border: 2px solid @highlight-color;
                border-radius: 20px;
                width: 25px;
                text-indent: 7px;
                font-weight: bold;
                background: @highlight-color;
                text-decoration: none;
                color: white;
            }
            .slidesjs-next:hover {
                background: white;
                color: @highlight-color;
                text-decoration: none;
            }
        }
    }

    .slide-1 {
        background: url("images/flickr-old-books.jpg") ;
    }
    .slide-2 {
        background: url("images/flickr-multi-measure.jpg") ;
    }
    .slide-3 {
        background: url("images/flickr-agreement.jpg");
    }
    .slide-4 {
        background: url("images/flickr-grading.jpg") ;
    }
    .slide-5 {
        background: url("images/flickr-document.jpg") ;
    }

}

#client-quotes {

    .client-quote {
        border: 1px solid white;
        border-radius: @default-border-radius;
        box-shadow: @default-border-radius;
        padding: 1em 2em;
        margin-bottom: 2em;
    }

    h3 {
        font-size: 1em;
        margin: 0 0 0.5em 0;
    }

    blockquote {
        margin: 0;
    }
    blockquote:before {
        content: " ";
        display: block;
        float: left;
        width: 45px;
        height: 37px;
        padding-top: 7px;
        padding-right: 10px;
        background: url("images/quote.png") no-repeat 0 7px;
    }

    .client {
        margin: 0;
        text-align: right;
        font-style: italic;
    }
    .client:before {
        content: "... ";
    }
}


article {
    clear: both;
    line-height: 1.5;

    a {
        color: @link-color;
    }
    a:hover {
        text-decoration: none;
    }

    h2 {
        color: @highlight-color;
        text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.3);
    }

    .col-1 {
        width: 45%;
        float: left;
    }

    .col-2 {
        width: 45%;
        float: right;
    }
}


